/* Apply general styles to various elements */
body {
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  }
  
  /* Apply specific styles to the tabs and related elements */
  .tabs.is-large {
    font-size: 1.5rem;
  }
  
  .tabs {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  
  .tabs-list {
    width: 100%;
    margin-left: 0px;
  }
  
  .tab-link {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
  }
  
  /* Apply styles to the active tab */
  .is-active-tab {
    /* Define styles for the active tab */
    /* For example: background-color, text color, etc. */
  }
  
  /* Apply styles to the content container */
  .content {
    flex: 1;
    padding: 0 30px 30px;
    background-color: transparent;
    max-width: 1200px;
    word-wrap: break-word;
    justify-content: start;
  }
  
  /* Apply custom theme styles */
  :root {
    /* Define your custom theme variables */
    /* For example: --body-background, --text-color, etc. */
  }
  
  .dark-theme {
    /* Define styles for dark theme */
    /* For example: background-color, text color, etc. */
  }
  
  /* Define scrollbar styles */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  